@{
    ViewBag.Title = "RPG Base";
}

<h2>Start</h2>
@Html.ActionLink("Create new character", "Create", "Characters")
<br />
@Html.ActionLink("Add new race", "Create", "Races")
<br />
@Html.ActionLink("Add new class", "Create", "Classes")
<br />
@Html.ActionLink("Add new weapon", "Create", "Weapons")
<br />
<br />
@Html.DisplayText("________________________________________________________________________________________")
<br />
@Html.ActionLink("All characters", "Index", "Characters")
<br />
@Html.ActionLink("All races", "Index", "Races")
<br />
@Html.ActionLink("All classes", "Index", "Classes")
<br />
@Html.ActionLink("All weapons", "Index", "Weapons")